.tasklist-container {
  background-color: #211c1c;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  min-height: 100%;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cbcbcb;
  margin-right: 12px;
  margin-left: 12px;
  padding: 10px 15px;
  border-radius: 18px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
}

.header {
  color: white;
  margin-left: 12px;
  margin-bottom: 2px;
  font-size: 24px;
}

.task-name {
  font-weight: 600;
  color: #333;
  width: 20%;
  transition: color 0.3s ease;
}

.task-desc {
  font-size: 14px;
  color: #666;
  width: 55%;
  text-align: center;
  transition: color 0.3s ease;
}

.task-item.completed {
  opacity: 0.5;
}

.task-item.completed .task-name,
.task-item.completed .task-desc {
  text-decoration: line-through;
  color: #444;
}

.task-actions {
  display: flex;
  gap: 8px;
}

.confirm-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.confirm-btn:hover {
  background-color: rgb(232, 0, 0);
  transform: translateY(-2px);
}

.confirm-btn.completed-btn {
  background-color: #6fbf73;
  color: white;
  cursor: default;
}

.edit-btn {
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-btn:hover,
.delete-btn:hover {
  transform: translateY(-2px);
}

.delete-btn {
  background-color: white;
  color: #333;
  border: none;
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;
}
